.root {
  -fx-font: 16px "Arial";
  -fx-background-color: #fff;
}

.header {
  -fx-border-width: 5;
  -fx-border-color: #f2f2f2;
  -fx-border-style: solid;
  -fx-border-width: 0 0 1 0;
  -fx-font-size: 26px;
  -fx-font-weight: 700;
  -fx-padding: 0 0 25 0;
}

.menu {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-border-width: 5;
  -fx-border-color: #f2f2f2;
  -fx-border-style: solid;
  -fx-border-width: 0 1 0 0;
}

.menu .button {
  -fx-background-color: transparent;
  -fx-font-color: #f7ffdd;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-padding: 10;
}

.menu .button:hover {
  -fx-background-color: #d3d3d3;
}

.menu .button:pressed {
  -fx-background-color: #c0c0c0;
}

.output {
  -fx-border-width: 5;
  -fx-border-color: #f2f2f2;
  -fx-border-style: solid;
  -fx-border-width: 1 0 0 0;
}

.output .content {
  -fx-background-color: #000;
}

.output .text-area {
  -fx-font-weight: 700;
  -fx-highlight-fill: #fff;
  -fx-highlight-text-fill: #000;
  -fx-text-fill: #fff;
}

.output-title-container {
  -fx-padding: 15;
}

.label {
  -fx-font-size: 20;
  -fx-pref-width: 200;
  -fx-font-color: #f7ffdd;
}

.input {
  -fx-max-width: 200;
}

.section-message {
  -fx-padding: 0 0 30 0;
}
